@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,700;1,400&display=swap');

:root{
  /* Color definition */
  --bg-color: #ffffff;
  --success-color: #51AFF2;
  --primary-color: #044392;
  --dark-font-color: #111111;
  --light-font-color: #807D78;
  --shadow: box-shadow: 0px 8px 20px 0px rgba(4,67,146,0.17);

  /* Fonts styles */
  --font-family: font-family: 'Roboto', sans-serif;
  --base-font-size: 16px;
  --h1-font-size: 54px;
  --h2-font-size: 36px;
  --h3-font-size: 24px;
  --h4-font-size: var(--base-font-size);
  --h5-font-size: 10.67px
  --h6-font-size: 7.11px;

  /* Space definition */
  --gap: 15px;
  --line-height: 1.5;
}


/* Reset styles */

/*** The new CSS Reset - version 1.2.0 (last updated 23.7.2021) ***/
/*** https://css-tricks.com/an-interview-with-elad-shechter-on-the-new-css-reset/ ***/

/* Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property */
*:where(:not(iframe, canvas, img, svg, video):not(svg *)) {
  all: unset;
  display: revert;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*
  Remove list styles (bullets/numbers)
  in case you use it with normalize.css
*/
ol, ul {
  list-style: none;
}

/* For images to not be able to exceed their container */
img {
  max-width: 100%;
}

/* Removes spacing between cells in tables */
table {
  border-collapse: collapse;
}

/* Revert the 'white-space' property for textarea elements on Safari */
textarea {
  white-space: revert;
}