/* CSS Global */
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* DIVS */
.container{
  background-color: rgb(214, 214, 214);
  display: flex;
  align-items: stretch;
  justify-content: center;
}
.boton{
  width: 10rem;
  margin: 1%;
  border: 0.2rem solid rgb(128, 185, 178);
  border-radius: 5%;
  box-shadow: 1px 1px 1px 1px #1d1e25d0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap-reverse;
  text-align: center;
  align-items: center;
}

.boton:hover{
  background: #343759;
  color: #f1f1f2;
  transition: 0.8s all;
  transform: scale(1.1);
  cursor: pointer;
}

/* Elementos */
img{
  width: 25%;
}
a{
  margin: 5%;
}


@media screen and (min-width: 1025px) {
}
@media (min-width: 768px) and (max-width:1024px) {
}
@media (min-width: 366px) and (max-width:767px) {
    .container{
  background-color: rgb(214, 214, 214);
  display: grid;
  align-items: stretch;
  justify-content: center;
  }
}
@media (min-width: 160px) and (max-width: 365px) {
  .fondo {
    background-size: 150%;
  }
  .container{
  background-color: rgb(214, 214, 214);
  display: grid;
  align-items: stretch;
  justify-content: center;
  }

  .boton:hover{
  background: #343759;
  color: #f1f1f2;
  transition: 0.5s;
  transform: scale(1.05);
  cursor: pointer;
  }
}