/* global */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* divs */
.upFooter{
  background-color: rgb(0, 0, 0);
  padding: 0.5rem;
  height: 9rem;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
}
.elements{
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
  gap: 1rem;
  align-items: center;
}

.lowFooter{
  background-color: rgb(219, 219, 219);
  align-items: center;
}

.copy{
  background-color: rgb(0, 0, 0);
  padding: 0.5rem;
  color: rgba(128, 185, 178);
  text-align: center;
}

/* componentes */
h4{
  color: hsl(192, 68%, 35%);
  margin: 0 5% 0 5%;
  font-weight: bold;
}
a{
  color: rgba(128, 185, 178);
  text-decoration: none;
  margin: 0 5% 0 5%;
}
p{
  margin: 0 0 0 5%;
  font-weight: bold;
  font-size: small;
  text-align: center;
}
.logo{
  width: 100%;
  align-items: center;
}

/* MediaQueries */

