.formLabel {
  display: block;
  margin-top: 50px;
}

.formInput {
  border: 0;
  border-bottom: 1px solid grey;
  display: block;
  font-weight: 500;
  width: 100%;
}

/* Form parts: state changes */
