* {
  padding: 0;
  margin: 0;
}

/*.hamburg {
  height: 24px;
  width: 24px;
  background-color: rgb(32, 34, 34);
  border-style: solid;
  border-color: rgb(252, 249, 248);
  border-width: 1px;
}*/

.container {
  background-color: rgb(128, 185, 178);
  background-image: url("../images/header.png");
  z-index: -100;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(32, 34, 34);
  height: 100px;
}
.logo {
  height: 54px;
  width: 55px;
  border-radius: 10px;
  margin-left: 20px;
}

.ulestilo {
  text-decoration: none;
  list-style: none;
  text-shadow: 1px 1px 1px black;
  text-align: center;
}
.ulestilo li {
  display: inline-block;
  padding: 5px;
  color: white;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
}

@media screen and (min-width: 1024px) {
  .container {
    background-size: 100%;
  }
}
@media screen and (min-width: 768px) {
  .container {
    background-size: 100%;
  }
}
@media screen and (min-width: 468px) {
  .container {
    background-size: 100%;
  }
}
@media screen and (min-width: 365px) {
  .container {
    background-size: 100%;
  }
}
