* {
  padding: 0;
  margin: 0;
}

.container {
  /* background-image: url("../images/header.png"); */
  z-index: -100;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(32, 34, 34);
  height: 100px;
}
.logo {
  border-radius: 10px;
  margin-left: 20px;
}

@media screen and (min-width: 1024px) {
  .container {
    background-size: 100%;
  }
}
@media screen and (min-width: 768px) {
  .container {
    background-size: 100%;
  }
}
@media screen and (min-width: 468px) {
  .container {
    background-size: 100%;
  }
}
@media screen and (min-width: 365px) {
  .container {
    background-size: 50%;
  }
}
