.mainHome {
  color: blue;
}

.divs {
  display: flex;

  height: 15rem;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: #145da0;
}

.titulo {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  align-items: center;
}
@media (min-width: 1024px) {
}
@media (min-width: 768px) and (max-width: 1023px) {
}
@media (min-width: 320px) and (max-width: 767px) {
}
@media (min-width: 150px) and (max-width: 319px) {
}
