.mainHome {
  color: blue;
}

.divs {
  display: flex;
  justify-content: center;
  color: rgb(40, 130, 100);
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: rgba(160, 170, 179, 0.6);
}

.titulo {
  text-align: center;
}
