/* General */
.container {
  background-color: rgb(24, 104, 131);
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
}

.formContainer {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 450px;
  margin: 0 auto;
  width: 90%;
  max-width: 300px;
}

.form {
  background-color: white;
  box-shadow: 3px 3px;
  padding: 15px 20px;
  margin-top: 40px;
  border-radius: 8px;
}

/* form parts */

.formImg {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("./../images/carrusel5.jpg") center no-repeat;
  background-size: cover;
  border-radius: 8px;
  filter: blur(1px);
  display: none;
}

.formTitle {
  margin-bottom: 5px;
}

.formSubtitle {
  color: rgb(85, 82, 82);
  font-size: 18px;
}

.formControls {
  margin-top: 40px;
}

.formSubmitBtn {
  background-color: rgb(24, 104, 131);
  padding: 5px 20px;
  color: white;
  border-radius: 4px;
  margin-top: 40px;
}

/* Form parts: state changes */

.formSubmitBtn:hover {
  cursor: pointer;
}

.formSubmitBtn:active {
  transform: scale(0.9);
}
.formLabel {
  display: block;
  margin-top: 50px;
}

.formInput {
  border: 0;
  border-bottom: 1px solid grey;
  display: block;
  font-weight: 500;
  width: 100%;
  padding: 12px;
}

/* Media queries */

@media screen and (min-width: 500px) {
  .formContainer {
    max-width: 330px;
  }
}

@media screen and (min-width: 900px) {
  .form {
    margin-top: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    padding: 30px 40px;
  }

  .formImg {
    display: block;
  }

  .formContainer {
    grid-template-columns: 45% 55%;
    max-width: 700px;
  }
}
